*{
    box-sizing: border-box;
}
body {
    margin: 0;
}

.nav{
    background-color: #e913f1;
    display: flex;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;

    
}
span{
    color: goldenrod;
    font-weight: 700px;
}


.nav ul{
list-style: none;
display: flex;
gap: 5rem;
/* margin-right: 6%; */
}

.nav a{
   color: inherit;
   text-decoration: none;
   font-size: 1.5rem;
}
.nav a:hover{
    color:goldenrod;
}
h4{
    margin-left: 5%;
    margin-top: 120px;
    font-size: 30px;
    font-weight: bold;
    color: #00A2A2;

}
.lorem{
    width: 42%;
   margin-left: 5%;
   font-size: 25px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.5em;
}

 .container{
display: flex;
justify-content: space-between;
/*align-items: center;
padding: 0 1rem; */

   
} 
 img{
    margin-right: 5%;
    
 }
 video{
    width: 100%;
    object-fit: cover;
 }
        
 .main{   
  width: 100%;
  height: 100vh;
 }
  .overlay h1{
     position: absolute; 
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 } 
#imag{
    float: left;
    height: 50vh;
    width: 50%;
    /* background-color: #ab54ae; */

}

#imag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   opacity: 1;
}
#txt{
    float: right;
    height: 50vh;
    width: 50%;
    
}

#txt p{
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#txt h4{
    /* margin-bottom: 30px; */
    padding: 20px;
    font-size: 30px; 
    text-align: center; 
    color: #e913f1;
}
#imag1{
    float: right;
    height: 50vh;
    width: 50%;
    /* background-color: #ab54ae; */

}
#imag1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#txt1{
    float: left;
    height: 50vh;
    width: 50%;
    
    
   
}
#txt1 h4{
    /* margin-bottom: 30px; */
    padding: 20px;
    font-size: 30px; 
    text-align: center; 
    color: #e913f1;
}
#txt1 p{
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}
#imag2{
    float: left;
    height: 50vh;
    width: 50%;
    /* background-color: #ab54ae; */

}

#imag2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#txt2{
    float: right;
    height: 50vh;
    width: 50%;
    
   
}
#txt2 p{
    margin-top: 50px;
    padding: 20px;
    font-size: 20px;
}